* {
    margin: 0;
    padding: 0;
}

body {
    color: #ffff;
    font-family: 'Inclusive Sans', sans-serif;
    background: black;
    max-width: 780px;
    width: 100vw;
    margin: auto;
    height: 100vh;
}

h2 {
    margin: 0.2em;
    text-align: center;
}

form {
    text-align: center;
    margin: 0.5em;
    padding: 0.5em;
}

form>input {
    padding: 0.5em;
    border-radius: 0.5em;
    border: 1px solid;
    margin: 0.3em;
    text-align: center;
}

form>button {
    border: 2px solid;
    padding: 0.5em;
    border-radius: 0.5em;
    width: 8em;
}

div.history {
    box-shadow: rgb(255 255 255 / 25%) 0px 54px 55px, rgb(255 255 255 / 12%) 0px -12px 30px, rgb(255 255 255 / 12%) 0px 4px 6px, rgb(255 255 255 / 17%) 0px 12px 13px, rgb(255 255 255 / 9%) 0px -3px 5px;
    border: 1px solid black;
    padding: 0.5em;
    margin: 0.5em;
    border-radius: 0.9em;
    background: transparent;
}

div.history>h1 {
    text-align: center;
    margin: 0.3em;
}

div.history>h3 {
    margin: 0.5em;
}

div.history>p {
    padding: 0.2em;
}